<!DOCTYPE html>
<html>
  <%= render 'layouts/header' %>
  <body class='d-flex flex-column'>
    <div class='row no-gutters'>
      <div class='col-12'>
        <%= render partial: 'layouts/flash', flash: flash %>
        <%= yield %>
      </div>
    </div>
  </body>
  <%= render 'layouts/footer' %>
</html>

